spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/player
    username: ${DB_USERNAME_PROD}
    password: ${DB_PASSWORD_PROD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  web:
    resources:
      static-locations: file:/opt/player-api/uploads/,classpath:/static/
logging:
  level:
    root: INFO
app:
  upload-dir: /opt/player-api/
